/vendor/
/build/
/dist/
/.scoper-excludes/
/bin/php-scoper.phar
/composer.lock
.phpunit.result.cache
.php-cs-fixer.cache
/node_modules/
/package-lock.json
/test-results/
/playwright-report/
/e2e/.runtime.json
